* {
    font-family: 'Nunito', sans-serif;
    outline: none;
}
body {
    margin: 0;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
.pointer {
    cursor: pointer;
}
.add {
    width: 20%;
    display: inline-block;
    background: #f5f5f5;
    text-align: center;
    height: 30px;
    padding: 17px 0px 14px;
    color: #272727;
    font-size: 14px;
}
/* LOADING */
    .loader {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        -webkit-animation-name: rotation3;
        animation-name: rotation3;
        -webkit-animation-duration: 2.2s;
        animation-duration: 2.2s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        display: inline-block;
    }


    .half1 {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 25px;
        overflow: hidden;
    }

    .half2 {
        position: absolute;
        top: 0;
        left: 25px;
        width: 25px;
        height: 50px;
        overflow: hidden;
    }


    .rotation2 {
        position: absolute;
        top: 0;
        left: -25px;
        height: 50px;
        width: 50px;
        -webkit-animation-name: rotation2;
                animation-name: rotation2;
        -webkit-animation-duration: 2.2s;
                animation-duration: 2.2s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }

    .mask2 {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 101px 0 0 101px;
        border: solid #89BFFF;
        border-width: 5px 0px 5px 5px;
        height: 50px;
        width: 25px;
    }

    .rotation1 {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 50px;
        width: 50px;
        -webkit-animation-name: rotation1;
                animation-name: rotation1;
        -webkit-animation-duration: 2.2s;
                animation-duration: 2.2s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }

    .mask1 {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        position: absolute;
        top: 0px;
        left: 25px;
        height: 50px;
        width: 25px;
        border-radius: 0 101px 101px 0;
        border: solid #89BFFF;
        border-width: 5px 5px 5px 0px;
    }

    @-webkit-keyframes rotation3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    }

    @keyframes rotation3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    }

    @-webkit-keyframes rotation2 {
        0%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        5%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        25% {
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
        50% {
            -webkit-transform: rotate(230deg);
                    transform: rotate(230deg);
        }
        75% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
        100%{
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }

    @keyframes rotation2 {
        0%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        5%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        25% {
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
        50% {
            -webkit-transform: rotate(230deg);
                    transform: rotate(230deg);
        }
        75% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
        100%{
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }

    @-webkit-keyframes rotation1 {
        0%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        5%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        25%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        50%{
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
        75% {
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
        100%{
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }

    @keyframes rotation1 {
        0%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        5%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        25%{
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        50%{
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
        75% {
            -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
        }
        100%{
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }

/* LOADING */
/* WYSISYG */
    .ql-toolbar.ql-snow {
        border: 0 !important;
        border-bottom: 1px solid #eee !important;
        background: #eee;
    }
    .ql-container.ql-snow {
        border: 1px solid #eee !important;
    }
/* WYSISYG */
input[type="email"], input[type="password"], input[type="number"], input[type="text"], input[type="date"], textarea {
    width: 100%;
    background: none;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 9px 0;
}
input[type="email"]:valid, input[type="password"]:valid, input[type="number"]:valid, input[type="text"]:valid, textarea:valid {
    border-bottom: 1px solid rgb(29, 233, 182);
}
.alert.alert-success {
    color: rgb(29, 233, 182);
    font-weight: 800;
    margin: 35px 0;
}
span.invalid-feedback > strong {
    font-size: 10px;
    text-transform: uppercase;
    color: #FF3D00;
}
.checkbox > input[type="checkbox"] {
    opacity: 0;
}
.checkbox > button {
    width: 90%;
    display: block;
    margin: -30px 0 18px 0;
    position: relative;
    z-index: 1;
}
/* BUTTONS */
button.clean, a.clean {
    border-radius: 4px;
    border: 0;
    padding: 4px 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
button.clean.blue, a.clean.blue {
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}
button.clean.yellow, a.clean.yellow {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,192,0,1) 0%, rgba(246,214,0,1) 62.5% );
}
button.clean.green, a.clean.green {
    background-image: linear-gradient(24deg, #00cdac 0%, #07ec83 100%);
}
button.clean.red, a.clean.red {
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
button.clean.purple, a.clean.purple {
    background-image: linear-gradient(to right, #c471f5 0%, #fa71cd 100%);
}
button.clean.purple-blue, a.clean.purple-blue {
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
button.clean.dark-blue, a.clean.dark-blue {
    background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
}
button.clean.gray, a.clean.grey {
    background: #f2709c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.white-board > a, .white-board > button {
    float: right;
    margin: 0 10px;
}
button.clean.icon > i, a.clean.icon > i {
    margin: 0 10px 0 0;
}

/* main#login-page */

main#login-page {
    overflow: hidden;
    height: 100vh;
}

.loginDivider {
    display: inline-block;
    width: 100%;
}
section.loginDivider > section {
    display: inline-block;
    float: left;
}
section.loginDivider > section:nth-child(1) {
    width: 30%;
}
section.loginDivider > section:nth-child(2) {
    width: 70%;
}
main#login-page > .loginDivider > section.backImg {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
form#loginForm > article > header > h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 8px 0;
}
form#loginForm {
    padding: 20vh 0;
}
form#loginForm > article > header > img {
    width: 30%;
    display: inline-block;
}
form#loginForm > article > header {
    text-align: center;
}
form#loginForm article.inputs > input {
    margin: 8px 0;
}
form#loginForm > article.inputs {
    padding: 40px 7%;
}
form#loginForm article.inputs > .form-check {
    padding: 15px 0;
    display: flex;
}
form#loginForm article.inputs > button {
    margin: 20px 0 0 0;
    background: #272727;
    border: 0;
    width: 100%;
    color: white;
    text-transform: uppercase;
    padding: 10px 0;
    font-weight: 100;
    border-radius: 2px;
    cursor: pointer;
}
form#loginForm > article.inputs a {
    margin: 12px 0 0 0;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    color: #5d5a5a;
    font-weight: 800;
}
form#loginForm article.inputs > .form-check > input {
    margin: 4px 7px 0 0px;
}
form#loginForm article.inputs > .form-check > label {
    font-size: 10px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 4px 0 0 0;
}
span.invalid-feedback {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 23px 0;
}

/* main#reset-page */
main#reset-page {
    text-align: center;
    padding: 36vh 0;
}
main#reset-page > h1 {
    margin: 0;
    font-size: 22px;
    padding: 30px 0;
}
main#reset-page > form {
    width: 50%;
    display: inline-block;
}
main#reset-page > form > input {
    width: 60%;
}
main#reset-page > form > button {
    width: 20%;
    background: #272727;
    border: 0;
    color: white;
    padding: 9px 0;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

/* main#newpw-page */
main#newpw-page {
    text-align: center;
    padding: 29vh 0;
}
main#newpw-page > h1 {
    margin: 0;
    font-size: 22px;
    padding: 30px 0;
}
main#newpw-page > form {
    width: 50%;
    display: inline-block;
}
main#newpw-page > form > input {
    width: 100%;
    margin: 15px 0;
}
main#newpw-page > form > button {
    width: 20%;
    background: #272727;
    border: 0;
    color: white;
    padding: 9px 0;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    margin: 50px 0 0 0;
    transition: all ease 0.2s;
}
main#newpw-page div#errors {
    padding: 30px 0;
}


/* MENU */
header#nav {
    position: fixed;
    width: 5%;
    float: left;
    height: 100vh;
    border: 1px solid #EBEDF8;
    background: white;
}
main#main-page {
    width: 84%;
    float: left;
    background: #F2F2F2;
    padding: 0 6% 0 10%;
    min-height: 100vh;
}
header#nav > #logo > a {
    display: inline-block;
    text-align: center;
}
header#nav > #logo > a > img {
    width: 40%;
    border-radius: 50%;
}
header#nav > nav {
    text-align: center;
}
header#nav > nav > a {
    font-size: 24px;
    display: block;
    color: #C0C5D2;
    padding: 10px 0;
    margin: 21px 0;
}
header#nav > #logo {
    padding: 25px 0;
}
header#nav > nav > a.active {
    border-right: 3px solid #fe5196 ;
}
header#nav > nav > a.active > i {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f77062  0%, #fe5196  100%);
}

/* Dashboard */
main#main-page > section {
    padding: 12vh 0px;
}
article > .title > h1 {
    font-weight: bold;
    line-height: 25px;
    font-size: 20px;
    letter-spacing: 0.144375px;
    color: #14112D;
    margin: 0;
    text-transform: uppercase;
}
.white-board {
    border: 1px solid #F0F0F0;
    background: white;
    padding: 30px 40px;
    border-radius: 4px;
    margin: 30px 0;
}
article > .white-board .title, div#modal > .content > form > p {
    margin: 25px 0;
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 15px;
    color: #354052;
    display: inline-block;
}
table.clean tr {
    text-align: left;
}
table.clean {
    width: 100%;
}
table.clean tr > th {
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
    font-size: 10.45px;
    letter-spacing: 1.49286px;
    text-transform: uppercase;
    color: #B4BAC6;
    padding: 0 0 15px 0;
}
table.clean tr > td.name {
    font-style: normal;
    font-weight: bold;
    line-height: 18px;
    font-size: 15px;
    color: #354052;
    padding: 14px 0;
}
table.clean tr > td.email, table.clean tr > td.date {
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: 0.103125px;
    color: #77848F;
    padding: 14px 0;
}
table.clean tr > td.button {
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 15px;
    letter-spacing: 0.103125px;
    color: #77848F;
    padding: 14px 0;
    text-align: right;
    width: 6%;
}
table.clean th.button {
    text-align: right;

}




/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
.modal > .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: #00000052;
}
.modal > .content {
    width: 50%;
    display: inline-block;
    background: white;
    position: relative;
    z-index: 1;
    padding: 33px 44px;
    margin: 10vh 0;
    border-radius: 3px;
}
.modal > .content > form {
    padding: 0 20%;
}
.modal > .content > form > .inputs, .modal > .content > form > #steps {
    padding: 24px 0 46px;
}
.modal > .content > form > #steps > .inputs > input, .modal > .content > form > .inputs > input  {
    margin: 10px 0;
}
article > .white-board > .content.small {
    width: 20%;
}
article > .white-board > .content.small > form input {
    margin: 10px 0;
}
article > .white-board > .content.small > form button {
    margin: 33px 0 0;
}
table.clean .preview {
    width: 110px;
}
table.clean .preview > .backcover {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
td.limited {
    width: 250px;
    max-width: 250px;
}
td.limited > p {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin: 0;
}
div#success {
    position: fixed;
    left: 0;
    background: #00E676;
    width: 95%;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin: -60px 0 0 5%;
    transition: all ease 0.2s;
}
div#alert {
    position: fixed;
    left: 0;
    background: #FFAB00;
    width: 95%;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin: -60px 0 0 5%;
    transition: all ease 0.2s;
}
div#unsuccess {
    position: fixed;
    left: 0;
    background: #FF3D00;
    width: 95%;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin: -60px 0 0 5%;
    transition: all ease 0.2s;
}
div#success > h1 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}
div#unsuccess > h1 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}
div#alert > h1 {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
}
.backcover {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.upload > button {
    background: none;
    border: 1px dashed #c4c4c4;
    color: #c4c4c4;
    width: 100%;
    padding: 30px 0;
    margin: 0 0 20px -40px;
}

#modalClient > .content > form > .inputs {
    padding: 15px 0 20px;
}
.upload > input {
    opacity: 0;
    width: 40px;
}
article > .white-board > .content > form > .form-inline input, article > .white-board > .content > form > .form-inline select {
    width: 40%;
    margin: 10px 20px 10px 0;
}
article > .white-board > .content > form > .form-inline {
    padding: 10px 0;
}
div#project .upload > button {
    width: 20%;
    border-radius: 2px;
}
div#project .content form textarea {
    background: none;
    border: 0;
    border-bottom: 1px solid #eee;
    padding: 9px 0;
    width: 40%;
    margin: 0 30px 0 0;
}
article > .white-board > .content > form > .form-inline#contents {
    padding: 30px 0;
}
article > .white-board > .content > form > .form-inline#contents > div.contentEditor {
    width: 44%;
    margin: 0 2% 0 0;
    display: inline-block;
    height: 250px;
}
article > .white-board > .content > form > .form-inline#categories {
    display: inline-block;
    width: 100%;
}
article > .white-board > .content > form > .form-inline#categories > .checkbox {
    width: 20%;
    float: left;
}
.hidden {
    display: none !important;
}
hidden {
    display: none;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #272727;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 3px 2px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #272727 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip > p {
    margin: 0;
}

/* SLIDE PROJECT */
div#projectSlide {
    display: inline-block;
    width: 90%;
    background: #f5f5f5;
    padding: 60px 5%;
}
div#projectSlide > .slide {
    width: 20%;
    height: 130px;
    display: inline-block;
    float: left;
    margin: 20px 20px 0 0;
    position: relative;
}
div#projectSlide > .slide > input {
    display: none;
}
div#projectSlide > .slide > div.backcover {
    width: 100%;
    height: 100%;
}
div#projectSlide > .slide > div.backcover.changed {
    opacity: 0.2;
}
div#projectSlide > .slide > div#divBannerUpload.backcover.changed-plus {
    background: #272727;
}
div#projectSlide > .slide > p {
    margin: 3px 0;
    text-align: center;
    font-size: 11px;
    font-weight: 800;
}
div#projectSlide > .slide > div#divBannerUpload {
    background: #eee;
    text-align: center;
    height: auto;
    padding: 54px 0px;
    color: #c4c4c4;
}

.select-clean {
    margin: 10px 0;
    width: 100%;
    background-color: #F5F5F5;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-appearance: none;
    padding: 10px 10px;
    float: left;
}
i#chevron-select {
    margin: 23px 10px 0 -30px;
    font-size: 12px;
    float: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 1.2s;
    transition: 1.2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 1.2s;
    transition: 1.2s;
}

input:checked + .slider {
    background-color: #354052;
}

input:focus + .slider {
    box-shadow: 0 0 1px #354052;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
div#projectSlide > .slide > button.del {
    position: absolute;
    background: #FF3D00;
    padding: 6px;
    font-size: 10px;
    border-bottom-right-radius: 4px;
    border: 0;
}
div#newBtnUPProject > i {
    position: relative;
    top: 5px;
}
div#newBtnUPProject > span {
    position: relative;
    top: 4px;
    font-size: 12px;
    font-weight: 800;
}
.form-inline i#chevron-select {
    margin: 23px 10px 0 -45px;
    float: left;
}
div.bankImage#add input {
    display: none;
}
div.bankImage#add {
    align-items: center;
    justify-content: center;
}
div#imagesBank > form > .content {
    display: inline-block;
    width: 100%;
}
.bankImage {
    width: 23%;
    margin: 1%;
    height: 200px;
    display: flex;
    background: #f5f5f5;
    float: left;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
    justify-content: flex-end;
}
.bankImage button {
    background: #f5f5f5;
    border: 0;
    padding: 9px;
    font-size: 10px;
    border-top-left-radius: 3px;
    margin: 0 -20px 0px 0px;
    opacity: 0;
    transition: all ease 0.2s;
}
.bankImage:hover button {
    margin: 0 0 0px 0px;
    opacity: 1;
}
div#incomingEvents, div#lastQuotes {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    min-height: 220px;
}
div#lastQuotes > .quote {
    background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
    width: 23%;
    display: inline-block;
    border-radius: 1px;
    transition: all ease 0.5s;
    padding: 17px 11px;
    color: white;
    text-align: left;
    border: 0;
}
div#lastQuotes > .quote:hover {
    -webkit-box-shadow: 22px 17px 80px -47px #b91d73;
    -moz-box-shadow: 22px 17px 80px -47px #b91d73;
    box-shadow: 22px 17px 80px -47px #b91d73;
    transform: scale(1.05);
}
div#lastQuotes > .quote > .date {
    display: flex;
    padding: 0 13px;
    align-items: center;
}
div#lastQuotes > .quote > .date > .day {
    width: 21px;
    font-size: 30px;
}
div#lastQuotes > .quote > .date > .day > p {
    margin: 0;
}
div#lastQuotes > .quote > .date > .other {
    width: 80%;
    padding: 17px 10%;
}
div#lastQuotes > .quote > .date > .other > p {
    margin: 0;
    font-weight: 800;
    font-size: 14px;
}
div#lastQuotes > .quote > .date > .other > span {
    font-size: 12px;
    margin: -2px 0;
    display: block;
    color: white;
}
div#lastQuotes > .quote > .short {
    padding: 0 13px;
    font-size: 11px;
    margin: -9px 0 9px;
    color: white;
}
div#lastQuotes > .quote > b {
    padding: 17px 13px 9px;
    display: inline-block;
    font-size: 14px;
}
.form-inline > .form-group {
    display: inline-block;
    width: 42%;
}
#eventForm .form-inline > .form-group > label {
    display: block;
    font-weight: 100;
    font-size: 12px;
}

#eventForm .form-inline > .form-group > input {
    width: 90%;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid #eee;
}
table.clean .preview.square > .backcover {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}
div#incomingEvents > .event {
    width: 24%;
    display: inline-block;
    border-radius: 1px;
    transition: all ease 1s;
    color: #272727;
    background: white;
    height: 200px;
    overflow: hidden;
    position: relative;
}
div#incomingEvents > .event:hover {
    transform: scale(1.05);
}
div#incomingEvents > .event > .cover {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease 1s;
}
div#incomingEvents > .event > .cover-contain {
    height: 200px;
    margin: -200px 0 0 0;
    background: #009FFF;
    background-image: linear-gradient(to right, #f77062 0%, #fe5196 100%);
    transition: all ease 1s;
    opacity: 0;
}
div#incomingEvents > .event:hover > .cover-contain {
    opacity: 0.4;
}
div#incomingEvents > .event > .content {
    display: inline-block;
    width: 90%;
    position: absolute;
    background: white;
    padding: 17px 5%;
    bottom: -164px;
    transition: all ease 0.5s;
}
div#incomingEvents > .event:hover > .content {
    bottom: -4px;
}
div#incomingEvents > .event > .content > h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
}
div#incomingEvents > .event > .content > p.time {
    margin: 4px 0 0;
    font-size: 14px;
    color: #949494;
    font-weight: 500;
}
div#incomingEvents > .event > .content > p {
    font-size: 12px;
}
.default {
    width: 23%;
    display: inline-block;
    border-radius: 1px;
    color: #272727;
    background: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 44px;
    color: #d0cdcd;
}
a.download {
    background: white;
    position: absolute;
    padding: 6px;
    font-size: 10px;
    border-bottom-left-radius: 4px;
    border: 0;
    right: 0;
}
.content.spaced {
    padding: 133px 44px;
}
div#modalViewQuote > .content > .categories {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 15px 0;
}
div#modalViewQuote > .content > .categories > button {
    width: auto;
    display: inline-block;
    margin: 0 2% 0 0;
    text-align: center;
}
.modal > .content > #info {
    padding: 0;
    list-style-type: none;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal > .content > #info > li {
    display: inline-block;
    background: #f5f5f5;
    padding: 10px 20px;
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.modal > .content > #info > li > label {
    font-size: 10px;
    font-weight: 800;
    padding: 0 10px 4px 0px;
    display: block;
}
.quote-content {
    padding: 19px 20px 50px;
    text-align: left;
    border: 1px solid #f2f2f2;
}
.quote-content > p {
   margin: 0;
}
div#step2 > .checkbox {
    width: 49%;
    display: inline-block;
}
#steps .checkbox > button {
    padding: 20px 15px;
}
a#sendedQuote, a#seeAta {
    padding: 10px 20px;
    margin: 20px 0 0;
    display: inline-block;
}
#content table.clean tr > td.name, #content table.clean tr > td.email, #content table.clean tr > td.button {
    padding: 0;
}
textarea.textarea {
    padding: 30px 0;
}
div#editContent button {
    margin: 40px 0 20px 0;
}
.modal > .content .subtitle {
    margin: 30px 0;
    font-weight: 800;
    text-align: left;
}
select {
    font-size: 17px;
    border: 0;
    background: #f5f5f5;
    padding: 3px 47px;
}
div#modalAddContent > .content .inputs {
    text-align: left;
}